name: Publish Package
on:
  workflow_dispatch:
    inputs:
      package:
        description: 'Which package to publish'
        required: true
        type: choice
        options:
          - core
          - langchain
          - both
      dry_run:
        description: 'Is this a dry run? If so no package will be published.'
        type: boolean
        required: true

jobs:
  publish-core:
    if: ${{ inputs.package == 'core' || inputs.package == 'both' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        name: 'Get PyPI token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/pypi/token = PYPI_AUTH_TOKEN'

      - uses: ./.github/actions/build
        id: build
        with:
          package-path: packages/core

      - name: Publish core package to PyPI
        if: ${{ inputs.dry_run == false }}
        # https://github.com/pypa/gh-action-pypi-publish/releases/tag/v1.8.13
        uses: pypa/gh-action-pypi-publish@3cc2c35166dfc1e5ea3bb0491ffdeedcaa50d7c
        with:
          password: ${{ env.PYPI_AUTH_TOKEN }}
          packages-dir: packages/core/dist/

  publish-langchain:
    if: ${{ inputs.package == 'langchain' || inputs.package == 'both' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        name: 'Get PyPI token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/pypi/token = PYPI_AUTH_TOKEN'

      - uses: ./.github/actions/build
        id: build
        with:
          package-path: packages/langchain

      - name: Publish langchain package to PyPI
        if: ${{ inputs.dry_run == false }}
        # Pinned to v1.8.13 (2024-06-14) for security
        # https://github.com/pypa/gh-action-pypi-publish/releases/tag/v1.8.13
        uses: pypa/gh-action-pypi-publish@3cc2c35166dfc1e5ea3bb0491ffdeedcaa50d7c
        with:
          password: ${{ env.PYPI_AUTH_TOKEN }}
          packages-dir: packages/langchain/dist/
