name: Run Release Please

on:
  push:
    branches: [ main ]

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      core_release_created: ${{ steps.release.outputs['packages/core--release_created'] }}
      langchain_release_created: ${{ steps.release.outputs['packages/langchain--release_created'] }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  release-core:
    needs: release-please
    if: ${{ needs.release-please.outputs.core_release_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        name: 'Get PyPI token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/pypi/token = PYPI_AUTH_TOKEN'

      - uses: ./.github/actions/build
        id: build
        with:
          package-path: packages/core

      - uses: ./.github/actions/build-docs

      - name: Publish core package to PyPI
        # https://github.com/pypa/gh-action-pypi-publish/releases/tag/v1.8.13
        uses: pypa/gh-action-pypi-publish@3cc2c35166dfc1e5ea3bb0491ffdeedcaa50d7c
        with:
          password: ${{ env.PYPI_AUTH_TOKEN }}
          packages-dir: packages/core/dist/

  release-langchain:
    needs: release-please
    if: ${{ needs.release-please.outputs.langchain_release_created == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install poetry
        uses: abatilo/actions-poetry@7b6d33e44b4f08d7021a1dee3c044e9c253d6439

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        name: 'Get PyPI token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/pypi/token = PYPI_AUTH_TOKEN'

      - uses: ./.github/actions/build
        id: build
        with:
          package-path: packages/langchain

      - name: Publish langchain package to PyPI
        # Pinned to v1.8.13 (2024-06-14) for security
        # https://github.com/pypa/gh-action-pypi-publish/releases/tag/v1.8.13
        uses: pypa/gh-action-pypi-publish@3cc2c35166dfc1e5ea3bb0491ffdeedcaa50d7c
        with:
          password: ${{ env.PYPI_AUTH_TOKEN }}
          packages-dir: packages/langchain/dist/
